@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

nav {
    height: 100px;
}

nav .logo img {
    padding: 10px;
    height: 100%;
}

.spiritual {
    background: #ebdbc1;
    height: 300px;
}

.spiritual .right img {
    height: 100%;
}

.co-fo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #fdd9c6;
}

.founder {
    height: 100vh;
    width: 90%;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.founder .left {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}

.founder h1 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
}

.founder .left p {
    color: #353535;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 150%;
}

.missions {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    background-attachment: fixed;
    background-image: url('Swaha-Swadha-background.webp');
    background-clip: padding-box;
}

.missions div {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(36, 54, 115, 0.11);
}

.missions div h2 {
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    color: #1c0d0a;
}

.missions div p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #353535;
}

.experts {
    height: 100vh;
    width: 100%;
    background: #fde9c6;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.experts .fst {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
            border-radius: 50%;
            height: 100px;
        }

        h3 {
            font-size: 20px;
            color: #1c0d0a;
            font-family: "Playfair Display", sans-serif;
        }

        p {
            font-size: 15px;
            font-family: "Roboto", sans-serif;
            color: #353535;
            text-align: center;
        }
    }
}