@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

nav {
    height: 150px;
    width: 100%;
    background: #ebdbc1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo {
    width: 50%;
    height: 100%;
    margin-left: 50px;
}

nav .menu {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: black;
}

nav .menu a:hover {
    color: #f15808;
}

.spiritual {
    display: flex;
    height: 400px;
    width: 100%;
    background: #fde9c6;
}

.spiritual .left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.spiritual .left h1 {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.4em;
}


.spiritual .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiritual .right img {
    height: 100%;
}

.aboutswaha {
    height: 100vh;
    width: 100%;
    background: #ebdbc1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutswaha .left {
    height: 60%;
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -20px 0px 50px -20px rgba(0, 0, 0, 0.13);

}

.aboutswaha .left h1 {
    font-size: 2.8rem;
}

.aboutswaha .left p {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

.aboutswaha .right {
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }

}

.whychoose {
    height: 80vh;
    width: 100%;
    background: #fde9c6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.whychoose h1 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
}

.whychoose .slidebtn {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    i {
        font-size: 25px;
    }
}

.howwork {
    height: 80vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.howwork h1 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
}


.offer {
    height: 80vh;
    width: 100%;
    background: #fde9c6;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.offer h1 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
}

.offer div {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.offer div img {
    width: 15%;
}

.offer button {
    background: #ff6210;
    color: #fff;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.user {
    height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user h1 {
    font-size: 2.8rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.3em;
}

.user div {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user div .users {
    height: 360px;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 2px 20px rgb(207, 206, 206);
    padding: 10px;

    img {
        border-radius: 50%;
    }

    .fa-solid {
        color: yellow;
    }

    .fa-regular {
        color: gray;
    }

    h3 {
        font-weight: bold;
    }

    a {
        color: #252525;
        text-decoration: none;
        background: #ebdbc1;
        padding: 10px;
        border-radius: 20px;
    }
}

footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #252525;
}

footer span {
    color: #f15808;
}

.contact {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 560px;
    left: 1150px;
}

.contact h2 {
    height: 100%;
    width: auto;
    background: white;
}

.contact i {
    font-size: 40px;
    font-weight: bold;
}